@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  headlines and single line statements per RMIT's brand guidelines
*/
@font-face {
  font-family: "Museo-500";
  src: url("../fonts/Museo-500/font.woff2") format("woff2"),
    url("../fonts/Museo-500/font.woff") format("woff");
}

@font-face {
  font-family: "Museo-300";
  src: url("../fonts/Museo-300/font.woff2") format("woff2"),
    url("../fonts/Museo-300/font.woff") format("woff");
}

@font-face {
  font-family: "Museo-700";
  src: url("../fonts/Museo-700/font.woff2") format("woff2"),
    url("../fonts/Museo-700/font.woff") format("woff");
}

/* 
  large slabs of text such as brochure spreads, catalogues and forms
  also appropriate for subheads, charts and diagrams per RMIT's brand guidelines
*/
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/Helvetica_Neue/Helvetica_Neue_Light.ttf");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/Helvetica_Neue/Helvetica_Neue_Bold.ttf");
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("../fonts/Helvetica_Neue/Helvetica_Neue_Medium.ttf");
}

@font-face {
  font-family: "Helvetica Neue Roman";
  src: url("../fonts/Helvetica_Neue/Helvetica_Neue_Roman.ttf");
}
.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}
.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}
.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #2b6cb2; /*Set to match the Tailwind colour you want the active one to be */
}

.toggle-checkbox:checked {
  @apply border-green-400 right-0;
  right: 0px;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: #68d391;
}

.bg-custom-300 {
  background-color:rgba(0, 0, 84, 0.8);
}