{% extends "template.html" %} {% block title %}4 SST{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}

<div class="flex flex-col p-10 w-full bg-gray-100 lg:flex-row">
  <div
    class="flex-shrink-0 pb-5 w-full font-header-bold text-3xl select-none lg:pb-0 lg:w-48"
  >
    Frequently asked Questions
  </div>
  <div class="flex-grow select-none space-y-4">
    <a
      class="show_hide flex flex-wrap justify-between border-b-2 border-gray-200"
    >
      <div
        class="flex-shrink-0 pr-2 w-11/12 font-header-medium text-xl lg:pr-0"
      >
        How to change the animation of the LED ?
      </div>
      <div class="block flex-shrink-0 w-1/12">
        <i class="fas fa-chevron-down"> </i>
      </div>
      <div class="content text-justify font-body-light text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </div>
    </a>
    <a
      class="show_hide flex flex-wrap justify-between border-b-2 border-gray-200"
    >
      <div
        class="flex-shrink-0 pr-2 w-11/12 font-header-medium text-xl lg:pr-0"
      >
        How to use it with other integrations ?
      </div>
      <div class="block flex-shrink-0 w-1/12">
        <i class="fas fa-chevron-down"> </i>
      </div>
      <div class="content text-justify font-body-light text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </div>
    </a>
    <a
      class="show_hide flex flex-wrap justify-between border-b-2 border-gray-200"
    >
      <div
        class="flex-shrink-0 pr-2 w-11/12 font-header-medium text-xl lg:pr-0"
      >
        How to download the app for mobile ?
      </div>
      <div class="block flex-shrink-0 w-1/12">
        <i class="fas fa-chevron-down"> </i>
      </div>
      <div class="content text-justify font-body-light text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </div>
    </a>
    <a
      class="show_hide flex flex-wrap justify-between border-b-2 border-gray-200"
    >
      <div
        class="flex-shrink-0 pr-2 w-11/12 font-header-medium text-xl lg:pr-0"
      >
        How to use extensions ?
      </div>
      <div class="block flex-shrink-0 w-1/12">
        <i class="fas fa-chevron-down"> </i>
      </div>
      <div class="content text-justify font-body-light text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </div>
    </a>
  </div>
</div>

{% endblock %}
