{% extends "template.html" %} {% block title %}4 SST{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}

<!--Carousel-->
<div class="sliderAx flex-shrink-0 w-full h-96 lg:h-1/2">
  <div id="slider-1" class="container mx-auto h-full">
    <div class="h-full bg-cover bg-center">
      <div class="h-full bg-red-500"></div>
    </div>
    <!-- container -->
  </div>

  <div id="slider-2" class="container mx-auto h-full">
    <div class="h-full bg-cover bg-center">
      <div class="h-full bg-blue-500"></div>
    </div>
    <!-- container -->
  </div>
</div>

<!--Description-->
<div
  class="flex flex-wrap content-center pt-3 px-0 w-full lg:px-5 lg:w-1/2 lg:h-1/2"
>
  <div>
    <p
      class="align-center sm:text-md text-justify font-body-roman text-sm lg:text-lg"
    >
      The 4 SST LED board is a RMIT’s School of Science & Technology’s homegrown
      project, designed and programmed by a group of 4 IT students. The idea
      stems from wanting SST to have a unique and special feeling, like a small
      family. The board is made up of laser-cut mica boards, more than 3000
      programmable LEDs, precise soldering, a Teensy development board and, to
      cap it off, a strong power supply to drive everything and make it
      portable. With careful and manual LED mapping, beautiful animations and
      patterns can be displayed on the board. Not just ourselves, this project
      is the culmination of work from both the teaching staff and the
      technicians from the school and other students as well. We hope with this
      project, more students can be more active and out-spoken with their ideas
      as we had before.
    </p>
  </div>
</div>

<!--Login-->
<div
  class="flex flex-wrap content-center pt-3 w-full h-1/2 lg:pt-0 lg:px-5 lg:w-1/2"
>
  <div class="w-full">
    <div
      class="flex flex-col p-5 border-2 border-gray-300 rounded-lg shadow-lg"
    >
      <div>
        <h2 class="text-center font-header-bold text-2xl font-bold">Login</h2>
      </div>

      <div>
        <form>
          <div class="flex flex-col gap-2">
            <div>
              <label for="username">
                <span
                  class="text-grey-darker font-header-medium text-sm font-bold"
                >
                  Username
                </span>
                <input
                  class="block mt-1 w-full border-gray-300 focus:border-indigo-300 rounded-md shadow-sm transition-all focus:ring-indigo-200 focus:ring-opacity-50 focus:ring"
                  id="username"
                  type="text"
                />
              </label>
            </div>
            <div>
              <label
                class="text-grey-darker block font-header-medium text-sm font-bold"
                for="password"
                >Password</label
              >
              <div class="relative w-full">
                <div class="absolute inset-y-0 right-0 flex items-center px-2">
                  <input class="hidden" id="toggle" type="checkbox" />
                  <label
                    class="font-mono px-2 py-1 text-gray-600 text-sm bg-gray-300 hover:bg-gray-400 rounded cursor-pointer"
                    for="toggle"
                    id="eyeBtn"
                  >
                    <i class="fas fa-eye-slash" id="eye"></i>
                  </label>
                </div>
                <input
                  class="w-full leading-tight border-2 border-gray-300 focus:border-indigo-300 rounded-md appearance-none transition-all focus:ring-indigo-200 focus:ring-opacity-50 focus:ring"
                  id="password"
                  type="password"
                />
              </div>
            </div>

            <div class="flex flex-col lg:flex-row">
              <div class="lg:w-1/2">
                <label>
                  <input
                    type="checkbox"
                    class="text-indigo-600 border-gray-300 focus:border-indigo-300 rounded shadow-sm transition-all focus:ring-indigo-200 focus:ring-opacity-50 focus:ring"
                  />
                  <span class="font-body-roman">Remember me</span>
                </label>
              </div>
              <div class="lg:w-1/2">
                <p id="capsWarning" class="font-body-roman">Caps lock is ON.</p>
              </div>
            </div>

            <div>
              <input
                type="submit"
                class="w-full h-8 text-white bg-blue-600 hover:bg-blue-700 rounded-lg cursor-pointer"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
