{% extends "template.html" %}
{% block title %}4 SST{% endblock %}
{% block head%}
{{ super() }}
{% endblock %}

{% block content %}
<!--Carousel-->
<div class="flex-shrink-0 w-full sliderAx h-96 lg:h-1/2">
  <div
    id="slider-1"
    class="container h-full mx-auto"
  >
    <div class="h-full bg-center bg-cover">
      <div class="h-full bg-red-500"></div>
    </div>
    <!-- container -->
  </div>

  <div
    id="slider-2"
    class="container h-full mx-auto"
  >
    <div class="h-full bg-center bg-cover">
      <div class="h-full bg-blue-500"></div>
    </div>
    <!-- container -->
  </div>
</div>

<!--Description-->
<div
  class="box-border flex flex-col content-center justify-center w-full px-2 pt-3 lg:px-5 lg:w-1/2 lg:h-1/2"
>
  <div class="">
    <p
      class="text-base text-justify align-center font-body-roman md:text-sm xl:text-lg">
      {{ session["selectedLang"]["text"] }}
    </p>
  </div>
</div>

<!--Login-->
<div
  class="flex flex-wrap content-center w-full px-2 pt-3 h-1/2 lg:pt-0 lg:px-5 lg:w-1/2"
>
  <div class="w-full">
    <div
      class="flex flex-col p-5 border-2 border-gray-300 rounded-lg shadow-lg">
      <div>
        <h2 class="text-2xl font-bold text-center font-header-bold">
          {{ session["selectedLang"]["login"] }}
        </h2>
      </div>

      <div>
        <form>
          <div class="flex flex-col gap-2">
            <div>
              <label for="username">
                <span
                  class="text-sm font-bold text-grey-darker font-header-medium"
                >
                  {{ session["selectedLang"]["username"] }}
                </span>
                <input
                  class="block w-full mt-1 transition-all border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring-indigo-200 focus:ring-opacity-50 focus:ring dark:text-black"
                  id="username"
                  type="text"
                />
              </label>
            </div>
            <div>
              <label
                class="block text-sm font-bold text-grey-darker font-header-medium"
                for="password"
              >
                {{ session["selectedLang"]["password"] }}
              </label>
              <div class="relative w-full">
                <div class="absolute inset-y-0 right-0 flex items-center px-2">
                  <input
                    class="hidden"
                    id="toggle"
                    type="checkbox"
                  />
                  <label
                    class="px-2 py-1 font-mono text-sm text-gray-600 bg-gray-300 rounded cursor-pointer hover:bg-gray-400"
                    for="toggle"
                    id="eyeBtn"
                  >
                    <i
                      class="fas fa-eye-slash"
                      id="eye"
                    ></i>
                  </label>
                </div>
                <input
                  class="w-full leading-tight transition-all border-2 border-gray-300 rounded-md appearance-none focus:border-indigo-300 focus:ring-indigo-200 focus:ring-opacity-50 focus:ring dark:text-black"
                  id="password"
                  type="password"
                />
              </div>
            </div>

            <div class="flex flex-col lg:flex-row">
              <div class="lg:w-1/2">
                <label>
                  <input
                    type="checkbox"
                    class="text-indigo-600 transition-all border-gray-300 rounded shadow-sm focus:border-indigo-300 focus:ring-indigo-200 focus:ring-opacity-50 focus:ring"
                  />
                  <span
                    class="font-body-roman">{{ session["selectedLang"]["remember_me"] }}</span>
                </label>
              </div>
              <div class="lg:w-1/2">
                <p
                  id="capsWarning"
                  class="font-body-roman"
                >{{ session["selectedLang"]["capslock"] }}</p>
              </div>
            </div>

            <div>
              <input
                type="submit"
                value="{{session["selectedLang"]["submit"]}}"
                class="w-full h-8 text-white bg-blue-600 rounded-lg cursor-pointer hover:bg-blue-700"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}