{% extends "template.html" %}
{% block title %}4 SST{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}

	<div class="pt-20 grid grid-cols-2 grid-rows-2 gap-6">
		<!--Dark mode-->
		<div class="flex items-center justify-end">
			<label
					for="toggle"
					class="flex justify-start text-md text-text-primary static font-header-medium items-center"
			>
				Dark Mode
			</label>
		</div>
		<div class="flex items-center justify-start">
			<div class="switch colour">
				<input id="check3" class="switch-checkbox hidden" type="checkbox" />
				<label
						for="check3"
						class="switch-label block w-12 h-6 rounded-full transition-all duration-150 ease-out"
				></label>
			</div>
		</div>

		<!-- Language -->
		<div class="flex items-center justify-end">
			<label
					for="toggle"
					class="flex justify-start text-text-primary static font-header-medium text-md items-center"
			>
				Language
			</label>
		</div>
		<div class="relative inline-flex">
			<select
					class="transition-all border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none"
			>
				<option>English</option>
				<option>Vietnamese</option>
			</select>
		</div>
	</div>

{% endblock %}
