<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="../static/node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/compiled-css/template.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/images/favicon/site.webmanifest" />

    <!--Javascript-->
    <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script defer src="../static/node_modules/alpinejs/dist/alpine.js"></script>
    <script src="../static/js/ModernizrMQ.js"></script>
    <script async defer src="../static/js/index.js"></script>
    {% endblock %}
  </head>

  <body
    class="flex flex-col py-0 w-screen bg-bg-primary bg-opacity-80 lg:flex-row lg:py-5 lg:h-screen"
  >
    <div class="flex-none pt-0 w-full h-10 lg:pt-5 lg:w-32 lg:h-full">
      <div
        class="flex flex-row justify-evenly h-full lg:flex-col lg:justify-start lg:space-y-2"
      >
        <div
          class="flex items-center justify-center text-white font-header-medium select-none md:text-xl lg:text-4xl"
        >
          4 SST
        </div>
        <div class="lg:px-2">
          <a
            href="{{ url_for('home') }}"
            class="flex items-center justify-center px-1 h-full hover:text-gray-100 hover:bg-blue-500 bg-blue-900 rounded-lg cursor-pointer lg:px-0 lg:h-11"
          >
            <i class="fas fa-home fa-lg" style="color: white"></i>
            <div>
              <p class="navTxt ml-2 text-white font-header-light">Home</p>
            </div>
          </a>
        </div>
        <div class="lg:px-2">
          <a
            href="{{ url_for('paint') }}"
            class="flex items-center justify-center px-1 h-full hover:text-gray-100 hover:bg-blue-500 bg-blue-900 rounded-lg cursor-pointer lg:px-0 lg:h-11"
          >
            <i class="fas fa-paint-brush fa-lg" style="color: white"></i>
            <div>
              <p class="navTxt ml-2 text-white font-header-light">Paint</p>
            </div>
          </a>
        </div>
        <div class="lg:px-2">
          <a
            href="{{ url_for('settings') }}"
            class="flex items-center justify-center px-1 h-full hover:text-gray-100 hover:bg-blue-500 bg-blue-900 rounded-lg cursor-pointer lg:px-0 lg:h-11"
          >
            <i class="fas fa-cogs fa-lg" style="color: white"></i>
            <div>
              <p class="navTxt ml-2 text-white font-header-light">Settings</p>
            </div>
          </a>
        </div>
        <div class="lg:px-2">
          <a
            href="{{ url_for('help') }}"
            class="flex items-center justify-center px-1 h-full hover:text-gray-100 hover:bg-blue-500 bg-blue-900 rounded-lg cursor-pointer lg:px-0 lg:h-11"
          >
            <i class="fas fa-question-circle fa-lg" style="color: white"></i>
            <div>
              <p class="navTxt ml-2 text-white font-header-light">Help</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col flex-grow flex-wrap p-3 bg-white shadow-inner lg:flex-row lg:p-5 lg:h-full"
    >
      {% block content %} {% endblock %}
    </div>

    <style type="text/css">
      .no-fouc {
        display: none;
      }
    </style>
    <script type="text/javascript">
      $(document.documentElement).toggleClass("no-fouc");
    </script>
  </body>
</html>
