<!DOCTYPE html>
<html
  lang="en"
  dir="ltr"
  class="no-js {{ session["theme"] }}"
>

  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta
      name="4 SST"
      content="Control the LEDs on the number 4"
    >
    <meta
      name="theme-color"
      content="#000054"
    />


    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='prod/css/fontawesome.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='prod/css/template.css') }}"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />
    <style type="text/css">
      .no-fouc {
        display: none;
      }
    </style>

    <!--Javascript-->
    <script type="text/javascript">
      document.documentElement.classList.add("no-fouc");
    </script>
    <script
      defer
      src="{{ url_for('static', filename='prod/js/jquery.min.js') }}"
    ></script>
    <script
      defer
      src="{{ url_for('static', filename='prod/js/jquery.mobile.custom.min.js') }}"
    >
    </script>
    <script
      defer
      src="{{ url_for('static', filename='prod/js/vanilla-picker.min.js') }}"
    >
    </script>
    <script
      defer
      src="{{ url_for('static', filename='prod/js/service-worker.js') }}"
    ></script>
    <script
      defer
      src="{{ url_for('static', filename='prod/js/index.js') }}"
    ></script>
    {% endblock %}
  </head>

  <body
    class="flex flex-col w-screen py-0 bg-white bg-opacity-80 lg:flex-row lg:py-5 lg:h-screen lg:bg-bg-primary dark:bg-gray-800 dark:text-white"
  >
    <div
      class="sticky top-0 z-50 flex-none w-full h-16 py-3 shadow-lg bg-bg-primary dark:bg-gray-900 lg:static lg:pt-5 lg:w-32 lg:h-full lg:bg-transparent lg:shadow-none"
    >
      <div
        class="flex flex-row h-full justify-evenly lg:flex-col lg:justify-start lg:space-y-2"
      >
        <div
          class="flex items-center justify-center text-white select-none font-header-medium md:text-xl lg:text-4xl"
        >
          4 SST
        </div>
        <div class="lg:px-2">
          <a
            href="{{ url_for('home') }}"
            class="flex items-center justify-center h-full px-3 bg-blue-900 rounded-lg cursor-pointer hover:text-gray-100 hover:bg-blue-500 lg:px-0 lg:h-11"
          >
            <i
              class="fas fa-home fa-lg"
              style="color: white"
            ></i>
            <div>
              <p class="ml-2 text-white select-none navTxt font-header-medium">
                {{ session["selectedLang"]["home"] }}</p>
            </div>
          </a>
        </div>
        <div class="lg:px-2">
          <a
            href="{{ url_for('paint') }}"
            class="flex items-center justify-center h-full px-3 bg-blue-900 rounded-lg cursor-pointer hover:text-gray-100 hover:bg-blue-500 lg:px-0 lg:h-11"
          >
            <i
              class="fas fa-paint-brush fa-lg"
              style="color: white"
            ></i>
            <div>
              <p class="ml-2 text-white select-none navTxt font-header-medium">
                {{ session["selectedLang"]["paint"] }}</p>
            </div>
          </a>
        </div>
        <div class="lg:px-2">
          <a
            href="{{ url_for('settings') }}"
            class="flex items-center justify-center h-full px-3 bg-blue-900 rounded-lg cursor-pointer hover:text-gray-100 hover:bg-blue-500 lg:px-0 lg:h-11"
          >
            <i
              class="fas fa-cogs fa-lg"
              style="color: white"
            ></i>
            <div>
              <p class="ml-2 text-white select-none navTxt font-header-medium">
                {{ session["selectedLang"]["settings"] }}</p>
            </div>
          </a>
        </div>
        <div class="lg:px-2">
          <a
            href="{{ url_for('help') }}"
            class="flex items-center justify-center h-full px-3 bg-blue-900 rounded-lg cursor-pointer hover:text-gray-100 hover:bg-blue-500 lg:px-0 lg:h-11"
          >
            <i
              class="fas fa-question-circle fa-lg"
              style="color: white"
            ></i>
            <div>
              <p class="ml-2 text-white select-none navTxt font-header-medium">
                {{ session["selectedLang"]["help"] }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col flex-wrap flex-grow p-3 bg-white shadow-inner lg:flex-row lg:p-5 lg:h-full dark:bg-gray-800 dark:text-white"
    >
      {% block content %} {% endblock %}
    </div>
  </body>

</html>