<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="../static/node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/compiled-css/template.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/images/favicon/site.webmanifest" />

    <!--Javascript-->
    <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script async defer src="../static/js/index.js"></script>
    {% endblock %}
  </head>

  <body class="bg-bg-primary bg-opacity-80 grid grid-cols-12 h-screen py-5">
    <div class="col-span-1 pt-5 h-full">
      <div class="space-y-2">
        <div class="font-header-medium text-center text-white text-4xl">
          4 SST
        </div>
        <div class="px-2">
          <a href="{{ url_for('home') }}">
            <button
              class="h-11 pl-2 text-left focus:outline-none py-1 bg-blue-900 font-header-light text-md rounded-lg container text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-7 w-auto inline-block mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
              <p class="align-middle inline-block">Home</p>
            </button>
          </a>
        </div>
        <div class="px-2">
          <a href="{{ url_for('paint') }}">
            <button
              class="h-11 pl-2 text-left focus:outline-none py-1 bg-blue-900 font-header-light text-md rounded-lg container text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-7 w-auto inline-block mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
                />
              </svg>
              <p class="align-middle inline-block">Paint</p>
            </button>
          </a>
        </div>
        <div class="px-2">
          <a href="{{ url_for('settings') }}">
            <button
              class="h-11 pl-2 text-left focus:outline-none py-1 bg-blue-900 font-header-light text-md rounded-lg container text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-7 w-auto inline-block mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>
              <p class="align-middle inline-block">Settings</p>
            </button>
          </a>
        </div>
        <div class="px-2">
          <a href="{{ url_for('help') }}">
            <button
              class="h-11 pl-2 text-left focus:outline-none py-1 bg-blue-900 font-header-light text-md rounded-lg container text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-7 w-auto inline-block mr-1"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <p class="align-middle inline-block">Help</p>
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="col-span-11 bg-white p-5 shadow-inner h-full">
      {% block content %} {% endblock %}
    </div>

    <style type="text/css">
      .no-fouc {
        display: none;
      }
    </style>
    <script type="text/javascript">
      document.documentElement.className = "no-fouc";
    </script>
  </body>
</html>
